body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn{
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: cyan;
  border-color: cyan;
  font-size: large;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:3%;
  width: fit-content;
  margin: auto;

  border: 1px solid grey;
  border-radius: 15px;
  background-color: white;
}

.login-h3{
  font-size: 2em ;
}

.login-container > input{
  line-height: 2;
}

.login-background{
  background: url("./assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding-top: 100px;
}
