body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.btn{
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(83, 4, 119);
  border-color: rgb(83, 4, 119);
  font-size: large;
  color: white;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:3%;
  width: fit-content;
  margin: auto;

  border: 1px solid grey;
  border-radius: 15px;
  background-color: white;
}

.login-h3{
  font-size: 2em ;
}

input{
  line-height: 2;
}

.login-background{
  background: url("./assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding-top: 100px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  border-bottom: 2px solid rgb(83, 4, 119);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.contact-form{
  display: flex;
  gap: 10px;
  margin: 30px auto;
  width: fit-content;
}

/* Leaflet  */
.leaflet-container {
  width: 600px;
  height: 400px;
  margin: 10% auto;
}

.show-modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hide-modal{
  display: none;
}

.close-icon{
  cursor: pointer;
  float: right;
}

.logout-btn{
  margin-left: 90%;
  background-color: red;
  margin-top: 10px;
}

.delete-btn{
  margin-left: 30%;
}